name: CI
on:
  schedule:
    - cron: '0 */2 * * *'  # 每 2 小时
  workflow_dispatch:      # 手动运行
  push:
    branches: [ master, main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout mtcn
        uses: actions/checkout@v6
        with:
          path: mtcn

      - name: Checkout meshtastic/firmware
        uses: actions/checkout@v6
        with:
          repository: meshtastic/firmware
          path: firmware
          submodules: recursive

      - name: Replace variants
        run: |
          rm -rf firmware/variants
          cp -r mtcn/variants firmware/

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install PlatformIO
        run: |
          python -m pip install -U pip
          python -m pip install -U platformio

      - name: Build tbeam
        run: |
          cd firmware
          pio run -e tbeam

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: compiled-firmware
          path: |
            firmware/.pio/build/tbeam/*.bin
            firmware/.pio/build/tbeam/*.uf2
            firmware/.pio/build/tbeam/*.hex
