name: CI
concurrency:
  group: ci-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
on:
  push:
    branches:
      - master
      - develop
      - event/*
      - feature/*
    paths-ignore:
      - "**.md"
      - version.properties
  pull_request_target:
    branches:
      - master
      - develop
      - event/*
      - feature/*
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
  build-custom-firmware:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout mtcn (your variants)
        uses: actions/checkout@v6
        with:
          path: mtcn

      - name: Checkout official meshtastic/firmware
        uses: actions/checkout@v6
        with:
          repository: meshtastic/firmware
          path: firmware
          submodules: recursive

      - name: Replace variants folder
        run: |
          rm -rf firmware/variants
          cp -r mtcn/variants firmware/

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      # 关键：全部用 cd 进入目录，绝对不迷路
      - name: Install dependencies
        run: |
          cd firmware
          python -m pip install --upgrade pip
          pip install -U platformio
          pip install -r requirements.txt

      - name: Build all firmware
        run: |
          cd firmware
          python build.py --matrix

      - name: Upload built firmware
        uses: actions/upload-artifact@v6
        with:
          name: compiled-firmware
          path: |
            firmware/release/*.bin
            firmware/release/*.uf2
            firmware/release/*.hex
            firmware/release/*.zip
            firmware/release/*.mt.json
          retention-days: 30
