name: CI
concurrency:
  group: ci-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your mtcn repo
        uses: actions/checkout@v6
        with:
          path: mtcn

      - name: Checkout official meshtastic/firmware
        uses: actions/checkout@v6
        with:
          repository: meshtastic/firmware
          path: firmware
          submodules: recursive

      - name: Replace variants
        run: |
          rm -rf firmware/variants
          cp -r mtcn/variants firmware/

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install PlatformIO
        run: |
          cd firmware
          python -m pip install -U pip
          python -m pip install -U platformio

      # 这里才是正确的构建命令！
      - name: Build firmware
        run: |
          cd firmware
          python ./bin/build.py --matrix

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: compiled-firmware
          path: |
            firmware/release/*.bin
            firmware/release/*.uf2
            firmware/release/*.hex
            firmware/release/*.zip
            firmware/release/*.mt.json
